﻿@model IEnumerable<InventoryTracker.Models.InventoryItem>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Created By User ID", "Index", new { sortOrder = ViewBag.UserSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                @if (await AuthorizationService.AuthorizeAsync(User, "role"))
                {
                    <p><a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |  </p>
                    <p><a asp-action="Details" asp-route-id="@item.ID">Details</a> | </p>
                    <p><a asp-action="Delete" asp-route-id="@item.ID">Delete</a></p>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
